.grid-container {
    display: grid;;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        'left topright'
        'left downright'
    ;
}

.left {
    width: 100%;
    height: 100%;
    grid-area: left;
}

.rightTop {
    width: 100%;
    height: 100%;
    grid-area: topright;
}

.rightLow {
    width: 100%;
    height: 100%;
    grid-area: downright;
}
