.nextWorkoutDiv {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid #f2f2f2;
    padding: 20px;
    margin-top: 50px;
    width: 50%;
    height: 70%;
    margin-left: 5%;
    float: left;
    text-align: center;
    font-size: 18pt;
}

.nextWorkoutButton {
    width: 150px;
    margin: 10px;
}